@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

header {
	position: fixed;
}

body {
  padding:50px;
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
}